
<br>
<div class="container">
    <div class=row >

<h1>New Lecture</h1>
        <div class="col-8 offset-2">


<%= render 'form', lecture: @lecture %>

<%= link_to 'Back', lectures_path , class: "btn btn-primary" %>

</div>
</div>
</div>
