// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home_page {
    color: red;
}

#profile_img {
    border-radius: 20%;
    border: 1px black solid;
    margin: 10px;
}